<body>

<section>
<h1>OUR SERVICES</h1>
</section>
<section id="main">
<div class="column">

  <h2>Cleaning</h2>
  <img class="image" src="beauty.jpg">
  <p class="para">
    Get home cleaning services in Delhi with a 30-Day Service Guarantee and Protection against Damage upto INR 10,000. We have Well Equipped and Trained Team, who carries out Deep House Cleaning and Sanitization with Non-Hazardous Chemicals. Book well-trained and experienced team from UrbanClap to get your home deep cleaned thoroughly at your chosen time and location.
  </p>
</div>

<div class="column">
  <h2>Salon at Home</h2>
  <img class="image" src="beauty.jpg">
  <p class="para">
    Tired of going to the salon? UrbanClap provides services like Waxing, Facial, Manicure, Pedicure from senior beauticians at home near you. Our 4.5+ rated experts use branded, disposable and hygiene friendly products. Get beauticians with 5 years of experience at home for the lowest price. Book beauty parlour service at home in Delhi with a few clicks, to have a hygienic and mess-free experience.
  </p>
</div>
<div class="column">
  <h2>Repair</h2>
  <img class="image" src="beauty.jpg">
  <p class="para">
    Get AC services in Delhi at your place within 90 minutes. We offer you a 30 Day service guarantee. We provide you with background verified trained technician who is well equipped with their equipment. Only genuine spare parts are supplied with fixed pricing. UrbanClap will help you connect with the best AC services to cater to your needs, right at your doorstep.
  </p>

</div>
</section>

<section>
  <h2>Related services in Delhi</h2>
  <ul class="list">
    <li>cleaning</li>
    <li>salon</li>
    <li>Architect</li>
    <li>Carpenter</li>
    <li>Construction and Renovation</li>
    <li>Electrician</li>
    <li>Interior Designer</li>
    <li>Massage for Men</li>
    <li>Packers & Movers</li>
    <li>Hairstyling & Makeup</li>
    <li>Pest Control</li>
    <li>Plumber</li>
    <li>Bathroom Deep Cleaning</li>
    <li>Home Deep Cleaning</li>
    <li>Kitchen Deep Cleaning</li>
    <li>Sofa Cleaning</li>
    <li>RO or Water Purifier Repair</li>
    <li>Salon at Home</li>
    <li>Spa at Home for Women</li>
  </ul>
</section>



</body>




